@import "tailwindcss";


body {
  background-color: #0b0b0f;
  color:aliceblue
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 40s linear infinite;
}